{% extends "base.html" %}

{% block content %}
    <strong>Information</strong>
    <br>
    <ul>
        <li>FIO: {{ main.report_card.person_bonus_project.person.full_name }}</li>
        <li>Role: {{ main.wage.role }}</li>
        <li>Position: {{ main.wage.position }}</li>
        <li>Pay for hour: {{ main.wage.pay_per_hour }}$</li>
        <br>
        <li>Working days: {{ main.amount_of_days }}</li>
        <li>Project: {{ main.report_card.person_bonus_project.project }}</li>
        <li>Bonus: {{ main.report_card.person_bonus_project.bonus }}</li>
        <br>
        <li>Base salary: {{ main.base_salary }}</li>
        <li>Total salary: {{ main.total_salary }}</li>


    </ul>



    <p><a  class="button-update btn btn-primary" href="{% url 'salary:main-update' pk=main.id %}">Update main</a></p>
    <p><a  class="button-delete btn btn-warning" href="{% url 'salary:main-delete' pk=main.id %}">Delete main</a></p>
{% endblock %}
