{% extends "base.html" %}

{% block content %}
    <h1>Company</h1>

    <table class="table">
        <tr>
            <th>EMPLOYEE</th>
            <th>ROLE</th>
            <th>WORKING DAYS</th>
            <th>BASIC PAY</th>
            <th>PREMIUM</th>
            <th>TOTAL</th>
        </tr>
        {% for person in main_list %}
            <tr>
                <td><a href="{{ person.get_absolute_url }}">{{ person.report_card.person_bonus_project.person.full_name }}</a></td>
                <td>{{ person.wage.role }}</td>
                <td>{{ person.amount_of_days }}</td>
                <td>{{ person.base_salary }}</td>
                <td>{{ person.full_bonus }}$</td>
                <td>{{ person.total_salary }}</td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}
